div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button{
    background-color: white;
    width: 150px;
    height: 110px;
    color: red;
    border: 7px red groove;
    font-size: 25px;
    transition: all 2s;
}
button:hover{
    cursor: pointer;
     background: linear-gradient(blue, gold );
     color: blue;
    border-color: rgb(0, 4, 255);
    box-shadow: 6px 6px 11px black;
    border-style: groove;

}

